@model WebApplication2.Models.GuestList

@{
    ViewBag.Title = "Edit";
}

<div class="pagesetup">
    <h1 class="pageheaders">@ViewBag.EventTitle</h1>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <div class="form-horizontal">
            <h4>Guest Edit</h4>
            <hr />
            @Html.ValidationSummary(true)
            @Html.HiddenFor(model => model.GuestID)

            <div class="form-group">
                @Html.LabelFor(model => model.FirstName, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.FirstName)
                    @Html.ValidationMessageFor(model => model.FirstName)
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.LastName, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.LastName)
                    @Html.ValidationMessageFor(model => model.LastName)
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.isDeacon, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.isDeacon)
                    @Html.ValidationMessageFor(model => model.isDeacon)
                </div>
            </div>
            @*Genre and Price removed for brevity.*@
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Save" class="btn btn-default" />
                    @Html.ActionLink("Cancel", "Index", "RegistrationPage", new { area = "" }, null)
                </div>
            </div>
        </div>
    }
    <div>
    </div>

