
@{
    ViewBag.Title = "Index";
}


<div class="pagesetup">
    <h1 class="pageheaders">Church Liturgy Schedule Registration</h1>

    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                FirstName
            </th>
            <th>
                Date & Time
            </th>
            <th>
                Total Spots
            </th>
            <th>
                Spots Reserved 
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
        <tr>
            <td>
                @item.eventName
            </td>
            <td>
                @item.eventDate.ToString("dddd, dd MMMM hh:mm tt")

            </td>
            <td>
                @item.eventCount
            </td>
            <td>
                @item.eventRSVP
            </td>
            <td>
                @if (item.eventRSVP < item.eventCount)
                {
                    @Html.ActionLink("SignUp", "Create", new { eventID = item.eventID })
                }
                else
                {
                    <p class="evenFull">Event is full</p>
                }
                @*@Html.ActionLink("Edit", "Edit", new { id = item.userID }) |
            @Html.ActionLink("Details", "Details", new { id = item.userID }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.userID })*@
            </td>
        </tr>
        }

    </table>

</div>
