
@{
    ViewBag.Title = "Index";
}


<!--Page Header Start-->
<section class="page-header">
    <div class="page-header__bg" style="background-color:aquamarine;"></div>
    <!-- /.page-header__bg -->
    <div class="container">
        <h2>Church Contact List</h2>
        <ul class="thm-breadcrumb list-unstyled">
            <li><a href="@Url.Action("Index", "Home")">Home</a></li>
            <li class="color-thm-gray">/</li>
            <li><span>Contact List</span></li>
        </ul>
    </div>
</section>
<!--Page Header End-->
<!--Events Details Start-->
<section class="event-details">
    <div class="container">
        <br />
        <br />
        @using (@Html.BeginForm())
        {
            <p>
                Search By Name:  @Html.TextBox("search") <input type="submit" value="Search" />
            </p>

        }
        <br />
        <br />
        <table class="table">
            <tr>
                <th>
                    First Name
                </th>
                <th>
                    Last Name
                </th>
                <th>
                    Phone Number
                </th>
                <th>
                    Email
                </th>
                <th></th>
            </tr>

            @foreach (var Contact in Model)
            {
                <tr>
                    <td>
                        @Contact.FirstName
                    </td>
                    <td>
                        @Contact.LastName

                    </td>
                    <td>
                        @Contact.PhoneNumber
                    </td>
                    <td>
                        @Contact.Email
                    </td>
                    <td>
                        @Html.ActionLink("View", "Details", new { id = Contact.Id })

                    </td>
                </tr>
            }

        </table>


    </div>
</section>
<!--Events Details End-->




