<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title - St.Paul Coptic Orthodox Church</title>
    <link href="~/Content/Images/unnamed.jpg" rel="shortcut icon" type="image/x-icon" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>

    <div class="navbar navbar-inverse navbar-fixed-top">

        <div class="container">
            <img class="iconimage" src="~/Content/Images/crossicon.png" /><p class="title"> St.Paul Coptic Orthodox Church</p>
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="navbar-collapse collapse">
                @using Microsoft.AspNet.Identity
                @if (Request.IsAuthenticated)
                {
                <ul class="nav navbar-nav">
                    @if (!User.IsInRole("DoorCheckin")) {
                    <li>@Html.ActionLink("Home", "Index", "Home", new { area = "" }, null)</li>
                    <li>@Html.ActionLink("Live Streaming", "Index", "Streaming", new { area = "" }, null)</li>
                    }
                    @if (User.IsInRole("DoorCheckin"))
                    {
                        <li>@Html.ActionLink("Check In Events", "Index", "EventsAdminPage", new { area = "" }, null)</li>
                    }
                    @if (!User.IsInRole("User") && !User.IsInRole("DoorCheckin"))
                    {
                        <li>
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Admin Panel<b class="caret"></b></a>
                            <ul class="dropdown-menu multi-level">
                                @if (User.IsInRole("Priest") || User.IsInRole("SuperAdmin"))
                                {

                                    <li>@Html.ActionLink("Guest List", "Index", "EventsAdminPage", new { area = "" }, null)</li>
                                }
                                @if (User.IsInRole("SuperAdmin"))
                                {
                                    <li class="divider"></li>
                                    <li>@Html.ActionLink("Add Images", "Index", "AddGalleryImages", new { area = "" }, null)</li>
                                    <li>@Html.ActionLink("Add Images", "Index", "AddGalleryImages", new { area = "" }, null)</li>
                                }
                                @if (User.IsInRole("Schedular") || User.IsInRole("SuperAdmin"))
                                {
                                    <li>@Html.ActionLink("Guest List", "Index", "EventsAdminPage", new { area = "" }, null)</li>
                                }
                                @if (User.IsInRole("Board") || User.IsInRole("SuperAdmin"))
                                {
                                    <li>@Html.ActionLink("Guest List", "Index", "EventsAdminPage", new { area = "" }, null)</li>
                                    if (User.IsInRole("Treasury") || User.IsInRole("SuperAdmin"))
                                    {

                                    }
                                }
                                @if (User.IsInRole("Servant") || User.IsInRole("SuperAdmin"))
                                {

                                }
                            </ul>
                        </li>
                        <li>
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Schedule<b class="caret"></b></a>
                            <ul class="dropdown-menu multi-level">
                                <li>@Html.ActionLink("Deacons", "Index", "DEACONS", new { area = "" }, null)</li>
                                <li class="divider"></li>
                                <li>@Html.ActionLink("Calendar", "Index", "Calendar", new { area = "" }, null)</li>
                                <li class="divider"></li>
                                <li>@Html.ActionLink("Church Feast & Fasts", "Index", "ChurchFF", new { area = "" }, null)</li>
                                <li class="divider"></li>
                                <li>@Html.ActionLink("Service Registration", "Index", "ChurchEventPages", new { area = "" }, null)</li>
                                <li class="divider"></li>
                                <li>@Html.ActionLink("My Registration", "Index", "RegistrationPage", new { area = "" }, null)</li>
                            </ul>
                        </li>
                    }
                    else if(User.IsInRole("DoorCheckin"))
                    {

                    }
                    else
                    {
                        <li>
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Schedule<b class="caret"></b></a>
                            <ul class="dropdown-menu multi-level">
                                <li>@Html.ActionLink("Calendar", "Index", "Calendar", new { area = "" }, null)</li>
                                <li class="divider"></li>
                                <li>@Html.ActionLink("Church Feast & Fasts", "Index", "ChurchFF", new { area = "" }, null)</li>
                                <li class="divider"></li>
                                <li>@Html.ActionLink("Service Registration", "Index", "ChurchEventPages", new { area = "" }, null)</li>
                                <li class="divider"></li>
                                <li>@Html.ActionLink("My Registration", "Index", "RegistrationPage", new { area = "" }, null)</li>
                            </ul>
                        </li>
                    }
                    @if (!User.IsInRole("DoorCheckin")) {
                    <li>
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Sunday School<b class="caret"></b></a>
                        <ul class="dropdown-menu multi-level">
                            <li>@Html.ActionLink("Sunday School Class Structure", "Index", "SundaySchoolClass", new { area = "" }, null)</li>
                            <li class="divider"></li>
                            <li>@Html.ActionLink("Sunday School Library", "Index", "SundaySchoolLibrary", new { area = "" }, null)</li>
                        </ul>
                    </li>
                    <li>
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">About Us & Resources<b class="caret"></b></a>
                        <ul class="dropdown-menu multi-level">
                            <li>@Html.ActionLink("Our Priest", "Index", "OurPriest", new { area = "" }, null)</li>
                            <li>@Html.ActionLink("Our Faith", "Index", "OurFaith", new { area = "" }, null)</li>
                            <li>@Html.ActionLink("Ministries", "Index", "Ministries", new { area = "" }, null)</li>
                            <li>@Html.ActionLink("Church Board", "Index", "ChurchBoard", new { area = "" }, null)</li>
                            <li>@Html.ActionLink("Gallery", "Index", "Gallery", new { area = "" }, null)</li>
                            <li>@Html.ActionLink("Visiting An Orthodox Church", "Index", "VisitinganOrthodoxChurch", new { area = "" }, null)</li>
                            <li class="divider"></li>
                            <li><a href="https://suscopts.org">Our Diocese</a></li>
                            <li class="divider"></li>
                            <li>@Html.ActionLink("Contact Us", "Index", "ContactUs", new { area = "" }, null)</li>
                        </ul>
                    </li>
                    }
                </ul>
                    using (Html.BeginForm("LogOff", "Account", new { area = "" }, FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
                    {
                        @Html.AntiForgeryToken()

                        <ul class="nav navbar-nav navbar-right">
                            <li>
                                @Html.ActionLink("Hello " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: new { area = "" }, htmlAttributes: new { title = "Manage" })
                            </li>
                            <li><a href="javascript:sessionStorage.removeItem('accessToken');$('#logoutForm').submit();">Log off</a></li>
                        </ul>
                    }

                }
                else
                {

                    <ul class="nav navbar-nav">

                        <li>@Html.ActionLink("Home", "Index", "Home", new { area = "" }, null)</li>
                        <li>@Html.ActionLink("Live Streaming", "Index", "Streaming", new { area = "" }, null)</li>
                        <li>
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Sunday School<b class="caret"></b></a>
                            <ul class="dropdown-menu multi-level">
                                <li>@Html.ActionLink("Sunday School Class Structure", "Index", "SundaySchoolClass", new { area = "" }, null)</li>
                                <li class="divider"></li>
                                <li>@Html.ActionLink("Sunday School Library", "Index", "SundaySchoolLibrary", new { area = "" }, null)</li>
                            </ul>
                        </li>
                        <li>
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Schedule<b class="caret"></b></a>
                            <ul class="dropdown-menu multi-level">
                                <li>@Html.ActionLink("Deacons", "Index", "DEACONS", new { area = "" }, null)</li>
                                <li class="divider"></li>
                                <li>@Html.ActionLink("Calendar", "Index", "Calendar", new { area = "" }, null)</li>
                                <li class="divider"></li>
                                <li>@Html.ActionLink("Church Feast & Fasts", "Index", "ChurchFF", new { area = "" }, null)</li>
                            </ul>
                        </li>
                        <li>@Html.ActionLink("Gallery", "Index", "Gallery", new { area = "" }, null)</li>
                        <li>
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">About Us & Resources<b class="caret"></b></a>
                            <ul class="dropdown-menu multi-level">
                                <li>@Html.ActionLink("Our Priest", "Index", "OurPriest", new { area = "" }, null)</li>
                                <li>@Html.ActionLink("Our Faith", "Index", "OurFaith", new { area = "" }, null)</li>
                                <li>@Html.ActionLink("Ministries", "Index", "Ministries", new { area = "" }, null)</li>
                                <li>@Html.ActionLink("Church Board", "Index", "ChurchBoard", new { area = "" }, null)</li>
                                <li>@Html.ActionLink("Visiting An Orthodox Church", "Index", "VisitinganOrthodoxChurch", new { area = "" }, null)</li>
                                <li class="divider"></li>
                                <li><a href="https://suscopts.org">Our Diocese</a></li>
                                <li class="divider"></li>
                                <li>@Html.ActionLink("Contact Us", "Index", "ContactUs", new { area = "" }, null)</li>
                            </ul>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li>@Html.ActionLink("Register", "Register", "Account", routeValues: new { area = "" }, htmlAttributes: new { id = "registerLink" })</li>
                        <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: new { area = "" }, htmlAttributes: new { id = "loginLink" })</li>
                    </ul>
                }
            </div>
        </div>

        </div>
    <div class="container body-content">
        @RenderBody()
        @RenderSection("SPAViews", required: false)
        <br />
        &nbsp;
        <br />
        <footer>
            <p>&copy; @DateTime.Now.Year - St.Paul Coptic Orthodox Church  | 655 Satellite Blvd, Suwanee, GA 30024 | Phone (706) 524-4741 </p>
            <p>P.O. Box 3424 Suwanee, GA 30024 </p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/knockout")
    @*@Scripts.Render("~/bundles/app")*@
    @RenderSection("Scripts", required: false)
</body>
</html>
