
@{
    ViewBag.Title = "Index";
}

<!--Page Header Start-->
<section class="page-header">
    <div class="page-header__bg" style="background-color:aquamarine;"></div>
    <!-- /.page-header__bg -->
    <div class="container">
        <h2>Sunday School Kids</h2>
        <ul class="thm-breadcrumb list-unstyled">
            <li><a href="@Url.Action("Index", "Home")">Home</a></li>
            <li class="color-thm-gray">/</li>
            <li><span>Sunday School Kids</span></li>
        </ul>
    </div>
</section>
<!--Page Header End-->
<!--Events Page Start-->
<section class="events-page">
    <div class="container-lg">
        <div class="row">
            @if (ViewBag.ClassCount <= 1)
            {
                <a class="buttonCreate" href="@Url.Action("Create", "Kids")">Create New Record</a>
            }
            else
            {
                <h2>All Classes</h2>
            }

            @if (Model.Count != 0)
            {

                <table class="styled-table">
                    <thead>
                        <tr>
                            <th>
                                First Name
                            </th>
                            <th>
                                Last Name
                            </th>
                            <th>
                                Father Name
                            </th>
                            <th>
                                Mother Name
                            </th>
                            <th>
                                Date Of Birth
                            </th>
                            <th>
                                Class Name
                            </th>
                            <th></th>

                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {

                            <tr>
                                <td>
                                    @item.FirstName

                                </td>
                                <td>
                                    @item.LastName
                                </td>
                                <td>
                                    @item.Mother
                                </td>
                                <td>
                                    @item.Father
                                </td>
                                <td>
                                    @String.Format("{0:d}", item.DateOfBirth)
                                </td>
                                <td>
                                    @item.ClassName
                                </td>
                                <td>
                                    @Html.ActionLink("Edit", "Edit", new { item.ID }, new { @class = "buttonEdit" })
                                    @Html.ActionLink("Details", "Details", new { item.ID }, new { @class = "buttonDetails" })
                                    @if (item.Attended == false)
                                    {
                                        @Html.ActionLink("CheckIn", "CheckIn", new { item.ID }, new { @class = "buttonCheckIn" })
                                    }
                                    @Html.ActionLink("Attendance", "Attendance", new { item.ID }, new { @class = "buttonAttendance" })
                                </td>
                            </tr>
                        }
                    </tbody>



                </table>
                <br />
            }
            else
            {
                <td class="deacons" colspan="3"> You are not assigned to a class yet or class is empty</td>
            }


        </div>
    </div>
</section>
<!--Events Page End-->
