
@{
    ViewBag.Title = "Index";
}



<div class="pagesetup">
    <h1 class="pageheaders">Ministries</h1>
    <div>
        <h2>CHILDREN AND TEENS</h2>
        <h4 class="sectionheaderswithred">St. Abanoub Kids Ministry</h4>
        Christ has taught us, "Let the little children come to Me, and do not forbid them; for of such is the kingdom of heaven." (Matthew 19:14) Our goal is to develop our children to know the Lord Jesus Christ personally, to love Him passionately, and to grow in obedience to Him so that they become fully devoted followers of Christ. St. Abanoub Kids Ministry is for children in 1st through 5th grade and we meet two Saturdays per month. We strive to use innovative methods to teach our children biblical and Orthodox concepts through lessons, visual aids, spiritual chanting and activities. Be sure to check the church <strong><a class="textlink"> @Html.ActionLink("Calendar", "Index", "Calendar", new { area = "" }, null)</a></strong> for exact dates.

        <h4 class="sectionheaderswithred"> St. Verena Music & Performing Arts Ministry</h4>
        Ministry of music and performing arts will have weekly rehearsal every Sunday till Easter Sunday for Easter production "More Than Just a Man". Check the church <strong><a class="textlink"> @Html.ActionLink("Calendar", "Index", "Calendar", new { area = "" }, null)</a></strong>  for dates and times.
        <h4 class="sectionheaderswithred"> “412” Middle School Ministry</h4>
        Why do we call it “412”? Because..."Let no one despise your youth, but be an example to the believers in word, in conduct, in love, in faith, in purity." (1 Timothy 4:12) We want to make sure that our teens are being fed spiritually and enriched in a fun, Christian atmosphere. "412" is for students in 6th, 7th and 8th grade and meets every Friday from 8:00-10:00 p.m. to learn and join one another for activities and games. We start with the 12th hour of the Agpeya, followed by a short lesson or a topic, then the fun begins in the gym! We have an outing once a month.
        <h4 class="sectionheaderswithred"> Choir</h4>
        The Choir team meets every Friday at 7:00 p.m.
    </div>
    <div>
        <h2>YOUNG ADULTS AND PROFESSIONALS</h2>
        <h4 class="sectionheaderswithred">
            St. John the Baptist Servants Preparation Program
        </h4>
             Because a good servant must be a good disciple and always willing to learn to be an effective teacher, Servants Prep is designed to prepare and produce generations of servants founded on discipleship and Orthodox principles. This program is designed for High School students and older who are interested in serving any type of service in the church. The goal is to enrich the individuals with the faith and the knowledge to serve the Lord all their lives, and to prepare them with hands-on service projects. Check out the program page.
        <h4 class="sectionheaderswithred">
            College & Graduate Youth Ministry
        </h4>
        Ministry of college students and young professionals aims to give young adults a chance to get together on a weekly basis in a safe and enjoyable Christian atmosphere. Check the church <strong><a class="textlink"> @Html.ActionLink("Calendar", "Index", "Calendar", new { area = "" }, null)</a></strong> for dates.
    </div>
    <div>
        <h2>OTHER MEETINGS</h2>
        <h4 class="sectionheaderswithred">
            St. Mary Women's Ministry (Arabic)
        </h4>
        Just like the women that followed Christ and sat at his feet, so do we - we gather once a month to grow together in love, strength, wisdom and fear of the Lord. Be sure to check the church calendar in case of any date changes.
        <h4 class="sectionheaderswithred">
            Joachim and Anna Elderly's Ministry (Arabic)
        </h4>
        No matter what the age is, we want to continue to grow spiritually through a variety of lectures, readings, and personal exchanges, to be a living example to following generations, proving that faith and trust in our Lord God is a life-long continuum. Joachim and Anna's ministry meets on the third or fourth Tuesday of every month following the Tuesday Divine Liturgy. Be sure to check the church <strong><a class="textlink"> @Html.ActionLink("Calendar", "Index", "Calendar", new { area = "" }, null)</a></strong>.
        <h4 class="sectionheaderswithred">
            Family Bible Study (Arabic)
        </h4>
        To live and study word of God, we meet for Bible Study every Monday at 7:30 p.m. Be sure to check the church <strong><a class="textlink"> @Html.ActionLink("Calendar", "Index", "Calendar", new { area = "" }, null)</a></strong>.
    </div>
</div>