
@{
    ViewBag.Title = "Index";
}


<!--Page Header Start-->
<section class="page-header">
    <div class="page-header__bg" style="background-color:aquamarine;"></div>
    <!-- /.page-header__bg -->
    <div class="container">
        <h2>Our Ministries</h2>
        <ul class="thm-breadcrumb list-unstyled">
            <li><a href="@Url.Action("Index", "Home")">Home</a></li>
            <li class="color-thm-gray">/</li>
            <li><span>Ministries</span></li>
        </ul>
    </div>
</section>
<!--Page Header End-->
<!--Events Details Start-->

<style>
    /* Style the toggle button */
    .toggle-button {
        cursor: pointer;
        color: red;
        text-decoration: none;
    }

    /* Style the description initially hidden */
    .description {
        display: none;
    }

    /* Style the image initially hidden */
    .image {
        display: none;
    }
</style>

<section class="event-details">
    <div class="container">

        <div>
            <h2 class="toggle-button">St. Joseph the Carpenter - 2 Year Olds</h2>
            <h5>Room 7</h5>
            <div class="image">
                <img src="~/Content/Images/St-Joseph-The-Carpenter.png" alt="">
            </div>
            <div class="description">
                The angel Gabriel announced Daniel with the return of the children of Israel from captivity, the coming of the Lord Christ, the time of His coming, that He would be killed, the destruction of Jerusalem, and that no other Messiah would come after Him. This angel is the one who announced to Zachariah the birth of John, and six months later, he came with the glad tidings of the salvation of the world when he announced to the Virgin Mary saying, “Do not be afraid, Mary, for you have found favor with God. And behold, you will conceive in your womb bring forth a Son, and shall call His name Jesus. He will be great, and will be called the Son of the Highest; and the Lord God will give Him the throne of His father David. And He will reign over the house of Jacob forever, and of His kingdom there will be no end.” Therefore, our church has arranged this feast to venerate this honorable angel. <strong><a class="textlink" href="#">Calendar</a></strong> for exact dates.
            </div>
        </div>

        <div>
            <h2 class="toggle-button">Anba Wannas- Head Start & Pre-K</h2>
            <h5>Room 4</h5>
            <div class="image">
                <img src="~/Content/Images/Anba-Wannas.png" alt="">
            </div>
            <div class="description">
                St. Youannis (Wanas) was martyred when he was barely 12 years old. He was the only child born to a pious Christian couple, who brought him up in the Christian faith. Despite his young age, he was ordained a deacon by the bishop of the city because of his love for Christ and his spiritual maturity.
                He stayed in church pretty much all the time and although he was young, he fought the spiritual war faithfully. During the days when there was liturgy, he ate from the holy bread (Orban), and during the days that had no liturgy, he asked the neighboring women to make him some bread (called Hanoun) to sustain him. He walked around the church and did everything that was necessary without ever being lazy or bored. His face shone, and it attracted the attention of everyone who saw him.
                When the devil waged war on the church through persecution, the saint desired to shed his blood for Christ’s sake. In a dream, God showed him that he will receive the crown of martyrdom. St. Wanas went and told the bishop about his dream and asked the bishop to bury his body in Om Qoraat cemetery in Luxor where his ancestors were buried.
                The Roman commander came to the saint’s town with his soldiers and looked for the believers. They heard about the deacon Wanas, and set out looking for him. They found him after he had encouraged the believers, and he did not flee from the commander or his soldiers when they found him. The commander was very angry with St. Wanas because of his courage, and the soldiers began to try a series of torture methods with the saint. They were creative in torturing him, having no mercy on his young age. During all this torturing, St. Wanas glorified God and called out for God to help him.
                Finally, he was martyred on the 16th day of Hatour (third Coptic month), at the beginning of the fourth century. After the soldiers separated his head from his body, they threw his head far from his body. God guided some believers to his body, which they recognized because of his distinct outfit which he always wore (a white gown with a distinct cross on it), and they joyfully took the body to the bishop, who asked them to go search for the saint’s head.
                They went back and searched for the head until they found it under a palm tree and brought it back to the bishop, who respectfully put perfumes on the body, wrapped it in a shroud, and buried it in the cemetery St. Wanas asked to be buried in. The townspeople passed down by mouth the location of the saint’s body in the cemetery.
                When the late Metropolitan Marcos (previous metropolitan of Luxor, Esna, and Armant) was alive, the location of the cemetery was in the middle of the city, buildings were starting to appear in the cemetery, and the idea of removing the cemetery arose. The metropolitan wanted to find the body of St. Wanas and move it to a worthy place. He started fasting and praying liturgies, asking God to lead him to the place where the body was buried.
                After fasting for three days without eating or drinking anything, the Lord sent an angel and showed him in a vision the location of St. Wanas’ tomb inside the cemetery. The next morning, Metropolitan Marcos went to the cemetery and saw the place that the angel showed him in the vision. He then took the body of the saint amidst the deacons’ singing of hymns and praises, and placed it in its current location.
            </div>
        </div>

        <div>
            <h2 class="toggle-button">St. Philopater Mercurius - KG & 1st grade</h2>
            <h5>Room 2</h5>
            <div class="image">
                <img src="~/Content/Images/Philopateer-Mercurius.png" alt="">
            </div>
            <div class="description">
                In the year 225 AD of pagan parents, he was named Philopater (a Greek name meaning "Lover Of the Father"). His father and mother soon changed to christianity, and preached, gave alms and tought their son according to the christian teachings. Reaching the age of 17 Philopater already joined the Roman army, and soon enough gained a great reputation as a swordsman, and a good tactician for many battles.
                In the reign of the Roman emperors Decius & Valerianus they sent out a decree that all people of all ranks slave or freeman should offer sacrifices onto the Roman Idles, & those who disobey the decree would face a death penalty. Soon after the edict War broke out between the barbarians and the Romans, 2 armies fought fiercely against each other. One day at the peak of the battle Mercurius (Philopater was named Mercurius when he was promoted to the rank of command) had a vision, he saw a man surrounded by light holding a drawn sword in his right hand, handing him the sword, telling him that he would have victory over the barbarians, and to remember the Lord, our God after the battle.
                Our saint then took the sword and dashed into the midst of the barbarians and mowed the enemy down like grass, he attacked so strongly that he slayed their King, his company & many others, the barbarians were terrified they broke down and fled, the Romans were victorious. Thereafter, Mercurius was given the title "Supreme Commander Of all the Roman Armies" at 25 years of age. The hero Mercurius became preoccupied with his new life, & every city that passed a festival was held in his honor.
                One night an angel appeared to our saint & told him that he would suffer greatly for our Lord Jesus Christ because of the decree but he will receive a crown of victory in heaven. Later on Decius called on our saint for some matters of state, after a while Decius suggested that they all go to the temple to offer sacrifice to the idols, the hero slowly slipped away from the crowd, but a jealous soldier informed Decius that the hero Mercurius wasn't present because he was a christian, the emperor didn't believe this & wanted to see proof with his own eyes.
                Later on he found out that our saint was a Christian after Mercurius boldly confessed his christianity before the emperor. The emperor at first tried to convince our saint to leave christianity, then he started inflicting many grievous tortures on our hero by burning, ripping his flesh with nails, but through all this the Lord saved our saint from his troubles until in the end he received the crown of martyrdom by beheading, at 3 o'clock 4th December 250 AD.
            </div>
        </div>

        <div>
            <h2 class="toggle-button">St. Abanoub - 2nd & 3rd Grade</h2>
            <h5>Room 6</h5>
            <div class="image">
                <img src="~/Content/Images/St-Abanoub.png" alt="">
            </div>
            <div class="description">
                St.Abanoub was born in the City of Nehisa. His parents were pure and merciful, raising him to love the Lord God with all his heart and soul. As St Abanoub grew to a young boy, his love for the Lord also grew more and more with each passing day. During the persecution of Christians by the cruel Emperor Diocletian, the Christian priests encouraged the faithful believers to stay away from false idols, and not to forsake the One True God. St Abanoub obeyed the teachings of the priests. He walked to the governor in Samanoud, Lucianus and without hesitating confessed his Christianity. The governor tortured him severely. St Abanoub was whipped until his intestines came out. Archangel Michael came down from Heaven and miraculously healed him.
                St Abanoub was then tied up and carried upon a sailing vessel for further torture. He was hung upon the high mast of the ship with his head forced downwards and then hit the saint in the mouth very hard. Blood trickled from St Abanoub’s nose and mouth. Following the heartless torture of St Abanoub, the governor sat down to eat and drink. The vessel that was in his hand became a stone. The soldiers aboard the ship became blind and paralyzed.
                An Angel of the Lord came down from Heaven and released St Abanoub from the mast of the ship. The angel wiped the blood off his pure face. Strong winds then blew the ship to Athribis. Arriving there, the soldiers on the ship having witnessed the many miracles performed in protecting the holy St Abanoub, confessed the name of the Lord Jesus Christ. They were killed because of their confession and received the glorious crowns of martyrdom. The governor of Athribis also tortured St.Abanoub severely. St Abanoub’s hands and feet were cut off and an angel of the Lord healed them. The governor gave up and sent the saint to Alexandria where St. Abanoub was tortured until his death in which he received the heavenly crown of martyrdom on the 24th day of Abib. St Abanoub was but twelve years of age. May St Abanoub’s blessings be with us all. Amen.
            </div>
        </div>

        <div>
            <h2 class="toggle-button">St. Mark - 4th Grade</h2>
            <h5>Room 5</h5>
            <div class="image">
                <img src="~/Content/Images/St-Mark.png" alt="">
            </div>
            <div class="description">
                His name was John, as the Holy Bible says: "He came to the house of Mary, the mother of John whose surname was Mark, where many were gathered together praying" (Acts 12:12). He was the one that the Lord Christ, to Whom is the glory, meant when He said: "Go into the city to a certain man, and say to him, The Teacher says, My time is at hand; I will keep the Passover at your house with My disciples" (Matthew 26:18).  His house was the first Christian church, where they ate the Passover, hid after the death of the Lord Christ, and in its upper room the Holy Spirit came upon them.  This Saint was born in Cyrene (One of the Five Western cities, Pentapolis - in North Africa). His father's name was Aristopolus and his mother's name was Mary. They were Jewish in faith, rich and of great honor. They educated him with the Greek and Hebrew cultures. He was called Mark after they emigrated to Jerusalem, where St. Peter had become a disciple to the Lord Christ. St. Peter was married to the cousin of Aristopolus. Mark visited St. Peter's house often, and from him he learned the Christian teachings.    Once Aristopolus and his son Mark were walking near the Jordan river, close by the desert, they encountered a raving lion and a lioness. It was evident to Aristopolus that it would be his end and the end of his Son, Mark. His compassion for his son compelled him to order him to escape to save himself. Mark answered, "Christ, in whose hands our lives are committed, will not let them prey on us." Saying this, he prayed, "O, Christ, Son of God protect us from the evil of these two beasts and terminate their offspring from this wilderness." Immediately, God granted this prayer, and the two beasts fell dead. His father marveled and asked his son to tell him about the Lord Christ. He believed in the Lord Christ at the hands of his son who baptized him.
                After the ascension of the Lord Christ, he accompanied Paul and Barnabas to preach the Gospel in Antioch, Seleucia, Cyprus, Salamis, and Perga Pamphylia where he left them and returned to Jerusalem. After the Apostolic Council in Jerusalem, he went with Barnabas to Cyprus.  After the departure of Barnabas, with the order of the Lord Christ, St. Mark went to Afrikia, Berka, and the Five Western cities. He preached the Gospel in these parts, and believed on his hands most of its people. From there, he went to Alexandria in the 1st. of Bashans 61 A.D.
                When he entered the city, his shoe was torn because of the much walking in preaching and evangelism. He went to a cobbler in the city, called Anianus, to repair it. While he was repairing it the awl pierced his finger. Anianus shouted in Greek saying "EIS THEOS" which means "O, ONE GOD". When St. Mark heard these words his heart rejoiced exceedingly. He found it suitable to talk to him about the One God. The Apostle took some clay, spat on it and applied it to Anianus' finger, saying in the Name of Jesus Christ the Son of God, and the wound healed immediately, as if nothing happened to it.   Anianus was exceedingly amazed from this miracle that happened in the Name of Jesus Christ, and his heart opened to the word of God. The Apostle asked him about who was the only God that he cried for when he was injured. Anianus replied "I heard about him, but I do not know him." St. Mark started explaining to him from the beginning, the creation of heaven and earth, the transgression and fall of Adam, the flood, how God sent Moses, who brought the children of Israel out of Egypt, and gave them the Law, the captivity of the children of Israel to Babylon, and the prophecies that foretold the coming of Christ.  Anianus invited him to go to his house and brought him his children. The Saint preached and baptized them in the Name of the Father and the Son and the Holy Spirit.
                When the believers in the Name of Christ increased and the pagan people of the city heard that, they were raged with anger and thought of slaying St. Mark. The faithful advised him to get away for a short while for the sake of the safety of the church and its care. St. Mark ordained St. Anianus a Bishop for Alexandria, three priests and seven deacons. He went to the Five Western Cities, remained there for two years preaching, and ordained bishops, priests, and deacons.  He returned to Alexandria where he found the believers had increased in number, and built a church for them in the place known as Bokalia (The place of cows), east of Alexandria on the sea shore.
                It came to pass, when he was celebrating the feast of the Resurrection on the 29th day of Baramudah, year 68 A.D., the same day coincided with the great pagan Celebration for the feast of the god Syrabis, a multitude of them assembled and attacked the church at Bokalia and forced their way in. They seized St. Mark, bound him with a thick rope and dragged him in the roads and streets crying, "Drag the dragon to the place of Cows." They continued dragging him with severe cruelty. His flesh was torn and scattered everywhere, and the ground of the city was covered with his blood. They cast him that night into a dark prison.
                The angel of the Lord appeared to him and told him: "O Mark, the good servant, rejoice for your name has been written in the book of life, and you have been counted among the congregation of the saints." The angel disappeared, then the Lord Christ appeared to him, and gave him peace. His soul rejoiced and was glad.    The next morning (30th of Baramudah), the pagans took St. Mark from the prison. They tied his neck with a thick rope and did the same as the day before, dragging him over the rocks and stones. Finally, St. Mark delivered up his pure soul in the hand of God, and received the crown of martyrdom, the apostolic crown, the crown of evangelism, and the crown of virginity.   Nevertheless, St. Mark's death did not satisfy the rage of the pagans and their hatred. They gathered a lot of firewood and prepared an inferno to burn him. A severe storm blew and heavy rains fell. The pagans became frightened, and they fled away in fear.  The believers came and took the holy body, carried it to the church they built at Bokalia, wrapped it up, prayed over him and placed it in a coffin. They laid it in a secret place in this church.
            </div>
        </div>

        <div>
            <h2 class="toggle-button">St. Nopher the Anchorite - 5th Grade</h2>
            <h5>Room 5</h5>
            <div class="image">
                <img src="~/Content/Images/St-Nopher-The-Anachorite.png" alt="">
            </div>
            <div class="description">
                He said that once he went into the desert and found a well of water and a palm tree. Then he saw the saint coming to him, naked, and the hair of his head and beard covered his body. When St. Paphnutius saw him, he was afraid and thought that he was a spirit. Saint Abba Nofer encouraged him, made the sign of the cross, and prayed the Lord's prayer, then said to him, "Welcome O Paphnoute." When he called him by his name, St. Paphnutius calmed down. They prayed together, then sat, and talked about the greatness and goodness of God.
                St. Paphnutius asked Abba Nofer to tell him about his life and how he came to that place. Abba Nofer replied, "I was in a monastery wherein lived holy and righteous monks. I heard them talking about the greatness of those anchorites who dwelled in the desert and their good virtues. I said to them, 'Are there any who are better than you?' They said to me, 'Yes, those anchorites who dwell in the wilderness. We live near the world, if we are sorrowful or sad, we find someone to console us; if we are sick, we find someone to visit and treat us; if we are naked, we find someone to clothe us. Those who live in the wilderness lack all these things.' When I heard that from them, my heart became anxious.
                "When the night came, I took a little bread and I went out from the monastery. Then I prayed to the Lord Christ and asked Him to guide me to the place where I was to live. The Lord facilitated my way and I found a holy and righteous man. I dwelt with him, and he taught me all about the life and the ways of the hermits and the anchorites. After I came to this place, I found a palm tree, and a well. The tree bore twelve clusters of dates each year. One cluster of dates is enough food for me for a month, and I drink water from this well. I have lived here for sixty years during which I have never seen the face of a man except yours."
                While they were talking together the angel of the Lord came down, and told St. Abba Nofer that his departure was near. Straightway, his color changed and became like fire, then he bowed his knees and worshiped God. After he embraced St. Paphnutius, he delivered up his pure soul. St. Paphnutius wrapped him, and buried him in his cave. St. Paphnutius wished to live in the place of Abba Nofer. But after he had buried him, the palm tree dried and fell down and the water of the well dried up. That happened by the Will of God, so St. Paphnoute would return to the world and tell us about the holy hermits that he had seen.
            </div>
        </div>

        <div>
            <h2 class="toggle-button">St. George - Middle School</h2>
            <h5>YAC</h5>
            <div class="image">
                <img src="~/Content/Images/St-George.png" alt="">
            </div>
            <div class="description">
                St. George of Cappadocia, a city in modern-day Turkey. Of all the saints named George, he is the most known. St. George was born in Cappadocia, his father Anastius' home town but grew up into a gallant man in Lydda, his mother Theopesta's home town near Bethlehem. After his father's death, he assumed his father's influential military rank in the Roman Guard at the age of twenty years. When St. George knew about the Emperor's edict of idol worshiping and the enslavement of the steadfast Christians who refused to comply, he ransomed them with his own wealth and publicly defended the oppressed and fearful Christians.
                Noble and bold, St. George encountered several emperors before facing the worst of them all, the infamous Emperor Diocletian. Though repeatedly tortured, and alternatively enticed with wicked propositions and material temptations, St. George's faith remained stalwart, ever so confident in the Lord Jesus Christ, who repeatedly healed him from the various wounds and inflictions meant to dissuade him from the truth. St. George's faith was resilient. While onlookers witnessed his valor in this faith, many became Christians, as well, and others accepted to suffer martyrdom for the sake of the true faith.
                The extensive tortures bore by this amazing saint were particularly graphic. In the midst of his pain and suffering, he was known to have performed many miracles, such as raising the dead and curing a mute, deaf and blind boy. In addition, the Lord did not refuse the prayers of this beloved saint who, at the ridiculous demand of Diocletian to bring forth branches and fruits from chairs, entreated and made his request known to Christ, and the Lord answered his prayers.
                Frustrated and repeatedly humiliated by the gallantry and perseverance of St. George, Diocletian tried to seduce him by offering to marry his daughter to him. When she was brought to St. George, he prayed the psalms with her and taught her about the Lord Jesus Christ. Thus, the empress accepted Christ and tried to stop her father from inflicting any more tortures on St. George. Enraged that she had also become a Christian, Diocletian burned her body with a hot comb and ordered her beheading. She, too, received the crown of martyrdom. After that, St. George was forced to drink a cup of poison and squeezed to the point of death. Then, he was to be thrown outside the city to have his life ended. Finally, realizing that nothing could stop this saint from loving and worshiping Jesus Christ, Diocletian ordered to have him beheaded after the most horrendous tortures.
                The precious body of St. George was befittingly shrouded and taken to his hometown in Lydda. By the grace of God, the righteous Emperor Constantine who eventually assumed political and executive authority over many regions, proclaimed Christianity to be the official religion throughout all his municipalities. Through his mother's guidance, and in honor of the martyrs, he ordered the construction of many churches, including St. George's. Many churches still hold some of his blessed and venerable relics and countless miracles continue to be performed by St. George the Prince of Martyrs even until this day.
            </div>
        </div>

        <div>
            <h2 class="toggle-button">Pope Kyrillos - H.S Boys</h2>
            <h5>YAC</h5>
            <div class="image">
                <img src="~/Content/Images/Pope-Kyrillos.png" alt="">
            </div>
            <div class="description">
                St.Kyrillos was the son of the sister of Pope Theophilus (23rd patriarch). He was raised by his uncle at the school of Alexandria where he was educated in its Theological and Philosophical subjects needed to defend Christianity and the Orthodox faith. After he learned a great deal of these subjects, his uncle sent him to the monastery of St. Macarius in the wilderness. There, he became a disciple to a righteous old monk called Sarabamon. He taught him the church books, and the sayings of the pure fathers. He trained his mind and body by practicing the works of righteousness and virtues for a period of time.
                After he spent five years in the wilderness, Pope Theophilus sent him to Abba Sarapion, the honorable bishop, so he increased in wisdom and knowledge. Shortly after, the bishop returned him to Alexandria. His uncle rejoiced, ordained him a deacon, appointed him a preacher in the cathedral and made him his scribe. Whenever Kyrillos gave a sermon, he captured the hearts of his listeners with his eloquence, fluency, and his strong influence. Since that time, he became well known for his vast knowledge, his great righteousness, and his deep influence in his teaching. When his uncle Pope Theophilus departed on the 18th of Babah 128 A.M. (October 15th, 412 A.M.), they enthroned this father in his place on the 20th of Babah, 128 A.M. (Oct. 17th, 412 A.D.). The church was illuminated with his knowledge, and he gave special attention to resisting paganism and defending the Christian faith. He started to refute the falsity of Emperor Julian the Infidel in his ten essays that had been written after his apostasy. These were the favorite readings of the pagan young people of Alexandria and their pride, for they believed that it destroyed the principles of the Christian faith. Pope Kyrillos refuted them in terms that were clear, strong and convincing.  He set out to rebut the heretics until he was able to close their churches and seize their contents. He ordered the expulsion of the Jews from Alexandria which led to a disturbance and confrontation between the Jews and the Christians.
                This led to the widening of the contention between the governor and this great saint. Because of his strong devotion to the Christian ethics and teachings, he found himself compelled to ask for reconciliation with the governor. However, the governor refused to accept the reconciliation, and the conflict between them continued for a period of time.
                When the heresy of Nestorius, Patriarch of Constantinople, emerged, a Universal Council convened for him. He denied that the Virgin was the mother of God (Theotokos). Two hundred bishops assembled in the city of Ephesus during the reign of Emperor Theodosius II, known by Theodosius the Less. St. Cyril (Kyrillos), Pope of Alexandria, presided over this council. He debated Nestorius, explained to him his heretic opinion, and threatened him with excommunication and exile from his Chair, if he did not change his erroneous opinion. St. Kyrillos composed twelve discourses wherein he explained the true faith, refuting the error of Nestorius. Anba John, Patriarch of Antioch, and some of the bishops of the East disagreed with him, taking Nestorius' side. Nevertheless, shortly after, they came back and agreed with Kyrillos who was victorious over the enemies of the church. He wrote many discourses and valuable epistles, confirming in them that God the Word is One Nature, One Will, and One Person incarnated. He anathematized anyone who separated Christ or differed from this true faith. The Emperor exiled Nestorius in the year 435 A.D. to the land of Egypt, and remained in the city of Akhmim until his death in the year 440 A.D. From the monumental works of Pope Kyrillos was the commentary of the Holy Books. When he finished his strife, he fell sick for a short time and departed in peace. He remained on the Alexandrian Chair for thirty-one years, eight months, and ten days.
            </div>
        </div>

        <div>
            <h2 class="toggle-button">St. Marina the Martyr - H.S. Girls</h2>
            <h5>YAC</h5>
            <div class="image">
                <img src="~/Content/Images/St-Marina-The-Martyr.png" alt="">
            </div>
            <div class="description">
                St. Marina, who overcame the Devil. She was one of the daughters of the nobles of Antioch. Her parents were pagan. When her mother died, her father sent her to a nanny to raise her, who was a Christian. She taught Marina the Faith of Christ. When Marina reached the age of fifteen years, her father died. One day she heard her nurse talking about the biography of the martyrs and what glory they receive in the Kingdom of  Heaven. She longed to become a martyr in the Name of the Lord Christ. One day St. Marina went out of her house with her maiden servants, and on her way she passed by Lopharius Ebrotus, the governor, who admired her much when he saw her. He ordered her brought to him. When the soldiers came to her, she told them that she was Christian. In turn, when they told the governor this, he was distressed for he liked her, and he had her brought to him by force. He offered her the worship of the idols and asked her to forsake God, but she refused. Then he asked her, "What is your name? and from where are you?" She told him, "I am Christian. I believe in the Lord Christ, and my name is Marina." He tried to persuade her by many promises and promised to marry her, but she did not heed him. When she cursed and insulted him, he ordered her body scraped with iron combs, then rubbed with vinegar, salt and lime, which they did. Nevertheless, she endured with patience. They cast her in prison, thinking that she was about to die. Immediately the angel of the Lord came, and healed all her wounds. While she was standing up praying, and her hands were extended in the form of a cross, a huge and terrifying serpent came forth. When she saw it she was frightened and her whole body trembled. The serpent swallowed her up, and her soul almost departed from her. She made the sign of the cross and prayed while she was in the belly of the serpent. It split open and fell on the ground dead. St. Marina went out unharmed.
                The next morning, the governor ordered her brought to him. When he saw that she was well, he marveled much, and told her, "Marina, your sorcery has become evident today, so listen to me.Worship the gods and much good would be for you, and I will give you all that I have promised you." She looked to him and to the dumb idols with contempt and said, "I worship the Lord Jesus Christ, the Son of the Living God, the God of heavens and earth, and whatever you wish to do with me, do, for I will not heed you." The governor ordered her hanged on the wheel, the squeezing wheel, and squeezed very tightly. They did so, then cast her in prison. The angel of the Lord came to her, and healed her. Then the Devil appeared to her and said, "O Marina, if you obey the governor that would be for your good for he is merciless, and he wishes to erase your name from the face of the earth." She realized that he was the Devil. Straightway she caught the hair of his head, and she took an iron rod and started to beat him, saying, "Stop it O Satan." Then she bound him with the sign of the cross, not to depart from before her until he told her all about what he does to the human race. When she pressed him, he told her, "I am the one who makes adultery, stealing, blasphemy, and earthly desires good and desirable to the human. And if I do not overcome him, I steer sleep and laziness against him, so he will not pray and ask for the forgiveness of his sins." The Saint straightway expelled him.
                When the governor saw her he marveled much, then he ordered to uncover her body, and to fill a large cauldron with melted lead, and to immerse her in it. When they did so, she asked the Lord to make this a baptism for her. The Lord sent his angel in the form of a dove. She immersed while saying, "In the Name of the Father, and the Son, and the Holy Spirit, one God Amen." A voice from heaven called her and said, "O Marina you have been baptized in the baptismal water." She rejoiced exceedingly, and those who were present heard what had happened to the saint. Many of them believed, and the governor ordered them to cut off their necks, and afterwards ordered to cut off St. Marina's holyhead. The executioner took her and went outside the city, then told her, "My lady Marina, I see the angel of the Lord and with him a crown of bright light." She said, "I ask you to tarry on me until I have prayed." She extended her arms and prayed fervently, then told the executioner, "Do what you have been ordered to do." She bowed her neck to the executioner who told her, "I could not do so." The saint told him, "If you do not do so, you would not have a share in the Kingdom of God." When he heard what she said, he took the sword and cut her neck off then he cut his neck also while he was saying, "I believe in the God of St. Marina." He fell down beside her and he received the crown of martyrdom in the Kingdom of Heaven. The Lord had manifested from her body many signs and healing miracles.
            </div>
        </div>

        <div>
            <h2 class="toggle-button">John the Baptist Pre-Servants 8th-12th grade</h2>
            <h5>YAC</h5>
            <div class="image">
                <img src="~/Content/Images/John-The-Baptist.png" alt="">
            </div>
            <div class="description">
                The forerunner and great prophet, St. John the Baptist, son of Zacharias the priest, was martyred by the order of King Herod. When St. John rebuked Herod because of Herodias, the wife of his brother Phillip whom he had taken as a wife, he said to him, "It is not lawful for you to have your brother's wife." (Mark:6:18) Herod seized the Saint and cast him into prison; however, he feared John.
                An opportune day came when Herod, on his birthday, gave a feast for his nobles, the high officers and the chief men of Galilee. And when Herodias' daughter herself came in and danced and pleased Herod. He promised her anything she might ask for, even as much as half of his kingdom.
                She went to her mother and asked her, "What shall I ask?" Her mother said, "Ask for the head of John the Baptist on a platter." When Herod heard this, he was exceedingly sorry. But because of his promise and those who were sitting with him, he did not want to refuse her request. He therefore commanded his servants to cut off the head of Saint John and they gave it to the damsel and the damsel gave it to her mother. (Mark 6:20-28) There was great consternation that day, and their joy soon turned into sorrow.
                It was said that when the holy head of St. John was cut off, it flew up off their hands into the air, and it cried out saying, "It is not right for you to take your brother's wife." It is also said that the head now is present at Homs in Syria.
                As of the holy body, the disciples of St. John took it and laid it in a grave until the days of Pope Athanasius, when God Willed to uncover his body.
            </div>
        </div>

        <div>
            <h2 class="toggle-button">St. Augustine Adult English Pre-Servants Class</h2>
            <h5>YAC</h5>
            <div class="image">
                <img src="~/Content/Images/St-Augustine.png" alt="">
            </div>
            <div class="description">
                Saint Augustine was born on November 13, 354 A.D. at Tagaste, a small town of Numidia in North Africa, not far from Hippo. His father, Patricius, was a pagan and of a violent disposition; but through the example and prudent conduct of his wife, Saint Monica, he was baptized a little before his death.
                His father wanted him to become a rich and educated man and cared very little about his character. In his writings, Augustine accuses himself of often studying by constraint, disobeying his parents and masters, not writing, reading, or minding his lessons so much as was required of him; and this he did not for lack of wit or memory, but out of love of play. But he prayed to God with great earnestness that he might escape punishment at school. He later on did so well with his studies that he went to Carthage in 370. There, he met evil friends, and became their leader who was proud of evil, so his life turned into theatres and corruption. As for his studies, he devoted himself to the study of jurisprudence and laws, eager to advance to the legal profession and the judiciary, and he was rich in Latin until he opened a school to teach the statement at the age of nineteen.
                At Carthage, he entered into relations with a woman (to whom he remained faithful until he sent her away from him 15 years later). She bore him a son, Adeodatus, in 372. His father had died in 371, but he continued at Carthage and switched to philosophy and the search for the truth. He also studied the Scriptures but from a subjective attitude. He was offended with the simplicity of style, and could not relish their humility or penetrate their spirit. Then he fell into Manichaeism - a combination of pagan religions and philosophy. The darkening of the understanding and clumsiness in the use of the faculties helped to betray him into his company; and pride did the rest. "I sought with pride", he says, "what only humility could make me find. Fool that I was, I left the nest, imagining myself able to fly; and I fell to the ground."
                For nine years he had his own schools of rhetoric and grammar in Tagaste and Carthage, while his devoted mother, Saint Monica, spurred on by the assurance of St. Ambrose, Bishop of Milan that "the son of so many tears could not perish", never ceased by prayer and gentle persuasion to try to bring him to conversion and reform.
                In 383 he departed to Rome, secretly, lest his mother should prevent him from going to the big city. He opened a school for rhetoric, and then was appointed by the government as a teacher in Milan, where his mother, and his friend Alipius joined him. Saint Monica's only ambition was to convert her son to Christianity.
                In Milan, Saint Augustine came under the influence of Saint Ambrose the bishop; he began to go to his sermons, not so much with an expectation of profiting by them as to gratify his curiosity and to enjoy the eloquence. He found that the discourses were more learned than the heresies he adopted and began to read the New Testament, especially Saint Paul's writings. At the same time, the mother of Adeodatus, his son left back to Africa leaving the child behind.
                Saint Augustine and his son Adeodatus were baptized by Saint Ambrose at Easter the following year in the presence of saint Monica. She knew that her prayers were answered and died shortly after.
                From that time, Saint Augustine went back to Tagaste, his native city, and lived for three years with his friends and shared a life of prayer, study and poverty. All things were in common and were distributed according to everyone's needs. He had no idea of becoming a priest, but in 391 he was ordained as an assistant to Valerius, Bishop of Hippo, and he had to move to that city.
                He established a sort of monastery in his house, living with Saint Alipius, Saint Evodius, Saint Possidius and others according to the rule of the holy Apostles. Valerius who had an impediment in speaking appointed Saint Augustine to preach in his own presence and he has not interrupted the course of his sermons until his death (nearly 400 sermons).
                In 395 he was consecrated bishop as coadjutor to Valerius, and succeeded him in the see of Hippo on his death soon after. Through his 35 years as a bishop of Hippo, Saint Augustine had to defend the faith against one heresy or another. He opposed the Donatists, the Pelagians, and the Alarians. In order to finish his valuable writings, and to provide against a troublesome election after his death, he proposed to his clergy and people to choose for his co-adjutor Heraclius, the youngest among his deacons, and his election was confirmed by acclamation in 426.
                Saint Augustine departed on August 28, 430, after having lived 76 years and spent almost 40 of them in the labors of the ministry. Among his greatest work is the 15 volume "On the City of God" which took him 30 years to write, and his "Confessions".
            </div>
        </div>

        <div>
            <h2 class="toggle-button">St. Karas College and graduates</h2>
            <h5>YAC</h5>
            <div class="image">
                <img src="~/Content/Images/St-Karas.png" alt="">
            </div>
            <div class="description">
                St. Cyrus (Karas) departed. He was the brother of Emperor Theodosius the Great. This saint knew well the vanity of the world and its temporal nature. He left all his possessions and went out wandering without a destination. God guided him to the inner Western Wilderness, where he lived for many years alone, without seeing man or beast.
                There was in the wilderness of Shiheet (Scete) a holy priest called Bamwa (Pimwah) who shrouded the body of St. Hilaria. This father longed to see one of the servants of Christ, the hermits. The Lord helped him until he came to the inner wilderness, and he saw many of the saints. Everyone of them told him about his name, and the reason he came to the wilderness. But St. Pimwah asked each of them, "Is there is anyone who lives further in the inner desert?" They answered him, "Yes." He continued to walk until he finally arrived at St. Karas, the last one of them. St. Karas called him from inside his cell, "Welcome, Anba Pimwah, the priest of Shiheet." Anba Pimwah entered his cell, and after the greetings, St. Karas asked him about the news of the world, the governors and the faithful. At night, St. Karas prayed for a long time, then he knelt to the ground and delivered up his soul in the hands of the Lord. Anba Pimwah buried him in his cloak, then he returned glorifying God, telling everyone about the Saint and his strife.
            </div>
        </div>

    </div>
</section>




<script>
    // Add click event listeners to all toggle buttons
    const toggleButtons = document.querySelectorAll('.toggle-button');
    const descriptions = document.querySelectorAll('.description');
    const images = document.querySelectorAll('.image');

    for (let i = 0; i < toggleButtons.length; i++) {
        toggleButtons[i].addEventListener('click', function () {
            if (descriptions[i].style.display === 'none' || descriptions[i].style.display === '') {
                descriptions[i].style.display = 'block';
                images[i].style.display = 'block';
            } else {
                descriptions[i].style.display = 'none';
                images[i].style.display = 'none';
            }
        });
    }
</script>



<!--Events Details End-->
@*<div class="pagesetup">
        <h1 class="pageheaders">Ministries</h1>
        <div>
            <h2>CHILDREN AND TEENS</h2>
            <h4 class="sectionheaderswithred">St. Abanoub Kids Ministry</h4>
            Christ has taught us, "Let the little children come to Me, and do not forbid them; for of such is the kingdom of heaven." (Matthew 19:14) Our goal is to develop our children to know the Lord Jesus Christ personally, to love Him passionately, and to grow in obedience to Him so that they become fully devoted followers of Christ. St. Abanoub Kids Ministry is for children in 1st through 5th grade and we meet two Saturdays per month. We strive to use innovative methods to teach our children biblical and Orthodox concepts through lessons, visual aids, spiritual chanting and activities. Be sure to check the church <strong><a class="textlink"> @Html.ActionLink("Calendar", "Index", "Calendar", new { area = "" }, null)</a></strong> for exact dates.

            <h4 class="sectionheaderswithred"> St. Verena Music & Performing Arts Ministry</h4>
            Ministry of music and performing arts will have weekly rehearsal every Sunday till Easter Sunday for Easter production "More Than Just a Man". Check the church <strong><a class="textlink"> @Html.ActionLink("Calendar", "Index", "Calendar", new { area = "" }, null)</a></strong>  for dates and times.
            <h4 class="sectionheaderswithred"> “412” Middle School Ministry</h4>
            Why do we call it “412”? Because..."Let no one despise your youth, but be an example to the believers in word, in conduct, in love, in faith, in purity." (1 Timothy 4:12) We want to make sure that our teens are being fed spiritually and enriched in a fun, Christian atmosphere. "412" is for students in 6th, 7th and 8th grade and meets every Friday from 8:00-10:00 p.m. to learn and join one another for activities and games. We start with the 12th hour of the Agpeya, followed by a short lesson or a topic, then the fun begins in the gym! We have an outing once a month.
            <h4 class="sectionheaderswithred"> Choir</h4>
            The Choir team meets every Friday at 7:00 p.m.
        </div>
        <div>
            <h2>YOUNG ADULTS AND PROFESSIONALS</h2>
            <h4 class="sectionheaderswithred">
                St. John the Baptist Servants Preparation Program
            </h4>
            Because a good servant must be a good disciple and always willing to learn to be an effective teacher, Servants Prep is designed to prepare and produce generations of servants founded on discipleship and Orthodox principles. This program is designed for High School students and older who are interested in serving any type of service in the church. The goal is to enrich the individuals with the faith and the knowledge to serve the Lord all their lives, and to prepare them with hands-on service projects. Check out the program page.
            <h4 class="sectionheaderswithred">
                College & Graduate Youth Ministry
            </h4>
            Ministry of college students and young professionals aims to give young adults a chance to get together on a weekly basis in a safe and enjoyable Christian atmosphere. Check the church <strong><a class="textlink"> @Html.ActionLink("Calendar", "Index", "Calendar", new { area = "" }, null)</a></strong> for dates.
        </div>
        <div>
            <h2>OTHER MEETINGS</h2>
            <h4 class="sectionheaderswithred">
                St. Mary Women's Ministry (Arabic)
            </h4>
            Just like the women that followed Christ and sat at his feet, so do we - we gather once a month to grow together in love, strength, wisdom and fear of the Lord. Be sure to check the church calendar in case of any date changes.
            <h4 class="sectionheaderswithred">
                Joachim and Anna Elderly's Ministry (Arabic)
            </h4>
            No matter what the age is, we want to continue to grow spiritually through a variety of lectures, readings, and personal exchanges, to be a living example to following generations, proving that faith and trust in our Lord God is a life-long continuum. Joachim and Anna's ministry meets on the third or fourth Tuesday of every month following the Tuesday Divine Liturgy. Be sure to check the church <strong><a class="textlink"> @Html.ActionLink("Calendar", "Index", "Calendar", new { area = "" }, null)</a></strong>.
            <h4 class="sectionheaderswithred">
                Family Bible Study (Arabic)
            </h4>
            To live and study word of God, we meet for Bible Study every Monday at 7:30 p.m. Be sure to check the church <strong><a class="textlink"> @Html.ActionLink("Calendar", "Index", "Calendar", new { area = "" }, null)</a></strong>.
        </div>
    </div>*@
