
@{
    ViewBag.Title = "Priest Slots";
}

<!--Page Header Start-->
<section class="page-header">
    <div class="page-header__bg" style="background-color:aquamarine;"></div>
    <!-- /.page-header__bg -->
    <div class="container">
        <h2>Priest Admin Slots</h2>
        <ul class="thm-breadcrumb list-unstyled">
            <li><a href="@Url.Action("Index", "Home")">Home</a></li>
            <li class="color-thm-gray">/</li>
            <li><span>Priest Admin Slots</span></li>
        </ul>
    </div>
</section>
<!--Page Header End-->
<!--Events Details Start-->
<section class="event-details">
    <div class="container">
        @*<div class="pagesetup">
            <iframe class="Calendar" src="https://calendar.google.com/calendar/embed?height=600&amp;wkst=1&amp;bgcolor=%23ffffff&amp;ctz=America%2FNew_York&amp;src=OGsyNGwwdGI5Z2hmc2dtZjhhMnR1bzNidG9AZ3JvdXAuY2FsZW5kYXIuZ29vZ2xlLmNvbQ&amp;color=%23F4511E&amp;mode=MONTH&amp;showNav=0&amp;showPrint=0&amp;showDate=1&amp;showTabs=0&amp;showTz=0&amp;showCalendars=0" style="border-width:0" frameborder="0" scrolling="no"></iframe>
        </div>*@



        <br />
        <br />
        @Html.ActionLink("Add Slots", "Create", "PriestConfCont", new { area = "" }, null)
        <table class="styled-table">
            <thead>
                <tr>
                    <th>
                        Date
                    </th>
                    <th>
                        From
                    </th>
                    <th>
                        To
                    </th>
                    <th></th>

                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {

                    <tr>
                        <td>
                            @item.Date
                        </td>
                        <td>
                            @item.fromDate

                        </td>
                        <td>
                            @item.toDate
                        </td>

                        <td>

                            @Html.ActionLink("Delete", "Delete", new { id = item.ID }, new { @class = "clickme" })

                        </td>
                    </tr>


                }
            </tbody>



        </table>
        <br />


    </div>
</section>
<!--Events Details End-->
