

@{
    ViewBag.Title = "Fr.Steven's Schedule";
}

<!--Page Header Start-->
<section class="page-header">
    <div class="page-header__bg" style="background-color:aquamarine;"></div>
    <!-- /.page-header__bg -->
    <div class="container">
        <h2>Fr.Steven's Schedule</h2>
        <ul class="thm-breadcrumb list-unstyled">
            <li><a href="@Url.Action("Index", "Home")">Home</a></li>
            <li class="color-thm-gray">/</li>
            <li><span>Fr.Steven's Schedule</span></li>
        </ul>
    </div>
</section>
<!--Page Header End-->
<!--Events Details Start-->
<section class="event-details">
    <div class="container">
        @*<div class="pagesetup">
                <iframe class="Calendar" src="https://calendar.google.com/calendar/embed?height=600&amp;wkst=1&amp;bgcolor=%23ffffff&amp;ctz=America%2FNew_York&amp;src=OGsyNGwwdGI5Z2hmc2dtZjhhMnR1bzNidG9AZ3JvdXAuY2FsZW5kYXIuZ29vZ2xlLmNvbQ&amp;color=%23F4511E&amp;mode=MONTH&amp;showNav=0&amp;showPrint=0&amp;showDate=1&amp;showTabs=0&amp;showTz=0&amp;showCalendars=0" style="border-width:0" frameborder="0" scrolling="no"></iframe>
            </div>*@

        <br />
        <br />

        @if (Model.Count != 0)
        {
            <table class="styled-table">
                <thead>
                    <tr>
                        <th>
                            Day
                        </th>
                        <th>
                            Date
                        </th>
                        <th>
                            From
                        </th>
                        <th>
                            To
                        </th>
                        <th></th>

                    </tr>
                </thead>
                <tbody>
                    @{
                        var lastDOW = "";
                        var lastDT = "";
                    }
                    @foreach (var item in Model)
                    {
                        if (@lastDT != @item.Date)
                        {
                            <tr><td colspan=5 style="height:10%;min-height:4px; padding:4px; background-color:grey; font-size:.1em;"> </td></tr>
                        }
                        <tr>
                            <td>
                                @if (lastDOW != @DateTime.Parse(item.Date).DayOfWeek.ToString())
                                {
                                    lastDOW = DateTime.Parse(item.Date).DayOfWeek.ToString();
                                    <b> @lastDOW</b>
                                }


                            </td>
                            <td>
                                @if (lastDT != item.Date)
                                {
                                    lastDT = item.Date;
                                    <b> @item.Date</b>
                                }

                            </td>
                            <td>
                                @item.fromDate

                            </td>
                            <td>
                                @item.toDate
                            </td>

                            <td>

                                @Html.ActionLink("Book", "BookForUser", new { item.ID }, new { @class = "clickme" })

                            </td>
                        </tr>


                    }
                </tbody>



            </table>
            <br />
        }
        else
        {
            <h2 class="alert"> No Confession Slots!!!</h2>

        }


    </div>
</section>
<!--Events Details End-->
