@model WebApplication2.Models.Notes

@{
    ViewBag.Title = "Create";
}



<!--Page Header Start-->
<section class="page-header">
    <div class="page-header__bg" style="background-color:aquamarine;"></div>
    <!-- /.page-header__bg -->
    <div class="container">
        <h2>Create New Note</h2>
        <ul class="thm-breadcrumb list-unstyled">
            <li><a href="@Url.Action("Index", "Home")">Home</a></li>
            <li class="color-thm-gray">/</li>
            <li><span>New</span></li>
        </ul>
    </div>
</section>
<!--Page Header End-->
<!--Events Page Start-->
<section class="events-page">
    <div class="container">
        <div class="row">
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="form-horizontal">
                    <h4>Notes</h4>
                    <hr />
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group" >
                        @Html.LabelFor(model => model.Note, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-lg-auto">
                            @Html.TextAreaFor(model => model.Note, new { htmlAttributes = new { @class = "form-control textedit" } })
                            @Html.ValidationMessageFor(model => model.Note, "", new { @class = "text-danger" })
                        </div>
                    </div>



                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Create" class="buttonCreate" />
                        </div>
                    </div>
                </div>
            }

            <div>
                @Html.ActionLink("Back to List", "Index")
            </div>

            @section Scripts {
                @Scripts.Render("~/bundles/jqueryval")
            }

        </div>
    </div>
</section>
<!--Events Page End-->


<style>
    textarea {
        height: 264px !important;
        max-width: 900px !important;
        width: 80%;
    }
</style>