@model WebApplication2.Models.PdfFiles


<!--Page Header Start-->
<section class="page-header">
    <div class="page-header__bg" style="background-color:aquamarine;"></div>
    <!-- /.page-header__bg -->
    <div class="container">
        <h2>Announcements Admin Panel</h2>
        <ul class="thm-breadcrumb list-unstyled">
            <li><a href="@Url.Action("Index", "Home")">Home</a></li>
            <li class="color-thm-gray">/</li>
            <li><span>Announcement Admin</span></li>
        </ul>
    </div>
</section>
<!--Page Header End-->
<!--Events Details Start-->
<section class="event-details">
    <div class="container">

        <h1 class="errormessage">@ViewBag.ErrorMessage </h1>

        <h1 class="successmessage">@ViewBag.Message </h1>

        <div class="row">


            <h2>Announcements Uploads</h2>
            <br />
            <br />
            <br />
            <br />
            @using (Html.BeginForm("UploadFiles", "Announcement", null, FormMethod.Post,
                                      new { enctype = "multipart/form-data" }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true)


                <fieldset>

                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group">
                        @Html.LabelFor(model => model.DisplayDate, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.DisplayDate, new { htmlAttributes = new { @type = "date", @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.DisplayDate, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <legend>File</legend>

                    <div class="editor-field">
                        <input id="ImagePath" title="Upload PDF"
                               type="file" name="file1" multiple="multiple" class="form-control custom-file-input" />
                    </div>
                    <br />
                    <br />
                    <p><input type="submit" value="Upload" class="btn btn-secondary btn-sm" /></p>
                </fieldset>
            }
        </div>



    </div>
</section>
<!--Events Details End-->