
@{
    ViewBag.Title = "Edit";
}

<div class="pagesetup">
    <h1 class="pageheaders">@ViewBag.EventTitle</h1>
    <h2>Total Reserved Spot(s) are:  @ViewBag.GuestCount </h2>
    <table class="table">
        <tr>
            <th>
                First Name
            </th>
            <th>
                Last Name
            </th>
            <th>
                Is Deacon?
            </th>
            <th></th>

        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.FirstName
                </td>
                <td>
                    @item.LastName

                </td>
                <td>
                    @(@item.isDeacon ? "Yes" : "No")
                </td>
                <td>
                    @if (!item.isCheckedIn)
                    {
                        @Html.ActionLink("CheckIn", "Check", new { guestID = item.GuestID, EventID = ViewBag.EventID })
                    }
                    else
                    {
                        @Html.ActionLink("UnCheck", "UnCheck", new { guestID = item.GuestID, EventID = ViewBag.EventID })
                    }
                </td>
            </tr>
        }
    </table>
    <p>
        @Html.ActionLink("Back to Events", "Index", "EventsAdminPage", new { area = "" }, null)
    </p>
</div>

